*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1e223d
}

.container{
    width: 550px;
    border: 1px solid #f0f0f0;
    background: #fff;
    border-radius: 5px;
    margin: 100px auto;
    padding: 10px 25px;
}

.row{
    display: flex;
    align-items: baseline;
}
.row input{
    width: 100%;
    background: transparent;
    margin-top: 8px;
    padding: 10px;
    font-weight: 14px;
}
.row button{
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    font-weight: bold;
}

.row button:hover{
    background-color: #212121;
    color: #fff;
}

.notes-data{
    margin-top: 10px;
    padding: 15px 10px;
    /*display: flex;*/
    /*width: 100%;*/
    align-items: baseline;
}

#note {
    display: flex;
}

.notes-data ul{
    list-style-type: none;
}
/* .notes-data ul li{
    padding: 5px;
    margin-top: 5px;
} */

#notes-container{
    flex: 1;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    background: none;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
}

.edit-btn{
    color: green;
}

.delete-btn{
    color: crimson;
}

.error-text{
    color: red;
}

.note-block {
    display: inline-block;
    width: 80%;
}
